<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="icon" href="/images/logo.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marcellus&display=swap" rel="stylesheet">
    <title>Casadobleve | Home</title>
</head>
<body class="bg-[#FCF4EA]">
    <!-- Banner -->
    <div class="flex gap-4 z-10 flex-col items-center  justify-center text-center bg-[#E7782D] text-orange-50 px-6 py-2 top-0 right-0 left-0">
        <p class="truncate text-sm animate-loop-scroll"> ✹ ENVIOS NACIONALES GRATIS A PARTIR DE 120$ ✹ </p>
    </div>
    <!-- Nav Bar -->
     <nav id="navbar" class="sticky z-10 section-x-padding flex flex-row items-center justify-between py-2 left-0 right-0 bg-orange-50 text-black text-sm max-w-full mx-auto">  
     </nav>
     
    <!-- Hero Section -->
    <section class="bg-[url('/images/hero.png')] bg-cover bg-center bg-no-repeat">
    <div  class="relative mx-auto max-w-screen-xl px-4 py-40 sm:px-6 flex justify-center text-center lg:h-screen lg:items-center lg:px-8" >
      <div class="max-w-xl flex flex-col justify-center text-center ltr:sm:text-left rtl:sm:text-right">
        <h1 class="text-3xl text-[#FCF4EA] font-bold font-marcellus sm:text-5xl">
          Not your regular <em>homeware</em>
        </h1>
        <div class="mt-8 flex flex-wrap justify-center gap-4 text-center">
          <a
            href="#"
            class=" w-full bg-[#C0DDE2] px-12 py-3 text-sm font-medium text-black shadow outline outline-1 outline-black hover:text-orange-500 sm:w-auto"
          >
            COMPRAR
          </a>

          <a
            href="#"
            class=" w-full bg-[#FCF4EA] px-12 py-3 text-sm font-medium text-black shadow outline outline-1 outline-black hover:text-orange-500 sm:w-auto"
          >
            CONTACTAR
          </a>
        </div>
      </div>
    </div>
    </section>
    <!-- Banner -->
    <div class="flex gap-4 flex-col items-center justify-center text-center bg-[#C9C26B] text-orange-50 px-6 py-4 top-0 right-0 left-0">
      <p class="truncate text-sm"> </p>
    </div>
    <!-- Shop section -->
    <section class="max-w-7xl mt-12 mx-auto sm:px-0 px4 lg:px4">
        <section class="mt-6 grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-x-6 gap-y-8">
          <div class="flex flex-col items-center">
                <img src="/images/Vector.png" class="w-[60%] md:w-4/5">
                 <h3 class="font-semibold font-serif text-black text-xl py-4 text-center">Jarrones</h3>
          </div>
              <div class="flex flex-col items-center">
                <img src="/images/Vector-1.png" class="w-[60%] md:w-4/5"> 
                <h3 class="font-semibold font-serif text-black text-xl py-4 text-center">Tazas</h3>
              </div>
             
            </div>
            </div>
              <div class="flex flex-col items-center">
                <img src="/images/Vector-2.png" class="w-[60%] md:w-4/5 ">
              <h3 class="font-semibold text-black font-serif text-xl py-4 text-center">Platos</h3>

              </div>
        </section>
</section>
<!-- Ceramic Bar -->
<section class="text-gray-600 body-font">
  <div class="container mx-auto flex justify-center px-5 py-24 md:flex-row flex-col items-center">
      <div
          class="md:w-1/2 lg:pr-16 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
          <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium font-serif text-gray-900">Creando el escenario para
              <br class="hidden lg:inline-block">experiencias <em class="text-orange-500">inolvidables</em>
          </h1>
          <p class="mb-8 leading-relaxed">En Casadobleve  nos encanta celebrar los momentos especiales. te invitamos a embarcarte en una experiencia única donde la creatividad y la alegría se unen.  Celebra con nosotros eventos especiales o simplemente disfruta de una tarde diferente en compañía de tus seres queridos.</p>
          <div class="flex justify-center">
              <button class="inline-flex text-white bg-orange-500 shadow outline outline-1 outline-black py-2 px-4 md:px-8 hover:bg-orange-600 text-sm">CONTACTAR</button>
              <button class="ml-4 inline-flex text-black shadow outline outline-1 outline-black py-2 px-4 md:px-8 hover:bg-gray-200 text-sm">VER EVENTOS</button>
          </div>
      </div>
      <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
          <img class="object-cover object-center rounded" alt="hero" src="/images/ceramicbar.png">
      </div>
  </div>
</section>
<!-- Home kits -->
<section class="bg-[url('/images/homekits.png')] bg-cover  bg-no-repeat w-full">
  <div class="relative lg:flex items-center space-y-16 max-w-7xl mx-auto px-8 py-24 lg:space-y-0 lg:space-x-16">
      <div class="flex-grow space-y-8">
          <div class="space-y-4">
              <h2 class="font-bold text-yellow-200 text-4xl">
                  Compra tu home kit!
              </h2>

              <p class="text-xl text-white">
                  Con el home kit de casadobleve puedes disfrutar de hacer ceramicas desde la comodidad de tu hogar y crear momentos especiales
              </p>
          </div>

          <a href="#" target="_blank"
              class="group inline-flex items-center justify-center px-6 text-lg sm:text-xl font-semibold tracking-tight transition h-11 bg-yellow-200 hover:bg-yellow-100">
              Ver Home kits
          </a>
      </div>
  </div>
</section>
<!-- Contact section -->
 <section id="contact-section" class="bg-[#C0DDE2] flex mt-16 items-center justify-center text-center text-black px-6 py-2 right-0 left-0">
 </section>
 <!-- Footer -->
 <section id="footer" class="bg-[#C9C26B] flex items-center justify-center text-center text-orange-50 px-6 py-2 right-0 left-0 mx-auto">
 </section>
 <script src="../components/navbar.js"></script>
 <script src="../components/contact.js"></script>
 <script src="../components/footer.js"></script>
</body>
</html>