<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="icon" href="/images/logo.png" type="image/x-icon">
    <title>Casadobleve || Comprar</title>
</head>
<body class="bg-orange-50">
    <div id="banner" class="flex gap-4 z-10 flex-col items-center overflow-hidden relative justify-center text-center bg-[#E7782D] text-orange-50 px-6 py-2 top-0">
        <marquee behavior="scroll" scrollamount="5" class="text-xs">✹ ENVIOS NACIONALES GRATIS A PARTIR DE 120$ ✹ ENVIO GRATIS EN TU PRIMER HOMEKIT ✹ ENVIOS NACIONALES GRATIS A PARTIR DE 120$ ✹ ENVIO GRATIS EN TU PRIMER HOMEKIT ✹ </marquee>
    </div>
    <!-- Nav Bar -->
     <nav id="navbar" class="fixed z-10 section-x-padding flex flex-row items-center justify-between py-2 left-0 right-0 bg-orange-50 text-black text-sm max-w-full mx-auto">  
     </nav>

    <!-- Contenido -->
    <div class=" mt-16 mb-2 px-2 md:mt-24 md:mb-8 md:px-8 flex flex-row align-middle">
        <a href="/comprar"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 text-[#917f6a]">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
          </svg></a>
    <p class="text-sm text-[#917f6a] underline underline-offset-4 px-2"><a href="/comprar">Seguir comprando</a></p>          
    </div>
    <div id="detalles-producto" class="mx-auto max-w-7xl lg:px-8"> 
    </div>
    
         <!-- Contact section -->
<section id="contact-section" class="bg-[#C0DDE2] mt-16 flex items-center justify-center text-center text-black px-6 py-2 right-0 left-0">
</section>
<!-- Footer -->
<section id="footer" class="bg-[#C9C26B] flex items-center justify-center text-center text-orange-50 px-6 py-2 right-0 left-0 mx-auto">
</section>
</div>
     <script type="module" src="/components/navbar.js"></script>
     <script type="module" src="/components/contact.js"></script>
     <script type="module" src="/components/footer.js"></script>
     <script type="module" src="index.js"></script>
</body>
</html>